# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [ ]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [ ]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [ ]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для ответа на вопрос о зависимости между количеством детей и возвратом кредита в срок создам новый столбец - children_rank, значениями в котором буду результаты следующей функции:

In [ ]:
def children_presence(children): # функция, которая выдаёт статус в зависимости от количества детей
    if 1 <= children <= 2:
        return 'есть дети'
    if children >= 3:
        return 'многодетный'
    return 'нет детей'

In [ ]:
data['children_rank'] = data['children'].apply(children_presence) # создаём столбец на основе данных функции

In [ ]:
data.head(10) #проверяем - выводим первые 10 строк

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,children_rank
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,есть дети
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,есть дети
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,нет детей
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,многодетный
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,нет детей
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью,нет детей
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью,нет детей
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования,нет детей
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы,есть дети
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью,нет детей

Теперь создаю сводную таблицу, по которой можно дать ответ на вопрос

In [ ]:
# создаю таблицу
debt_children = data.pivot_table(index='children_rank', columns='debt', values='gender', aggfunc='count')
# задаю столбцы
debt_children.columns = ['no_debt', 'debt']
# считаю долю должников (ещё один столбец)
debt_children['share_of_debtors'] = debt_children['debt'] / (debt_children['debt'] + debt_children['no_debt'])
# перевожу долю в проценты
debt_children['share_of_debtors'] = debt_children['share_of_debtors'].map('{:.1%}'.format)
# сортирую процент должников по убыванию
debt_children.sort_values(by='share_of_debtors', ascending=False)

               no_debt  debt share_of_debtors
children_rank
есть дети         6222   638             9.3%
многодетный        349    31             8.2%
нет детей        13028  1063             7.5%

**Вывод:** Согласно предоставленной выборке, если у клиента есть дети, риск задолженности повышается. Интересный момент, что у многодетных клиентов процент задолженности ниже, чем у клинтов с 1-2 детьми. Возможно, это связано со льготами, предоставляемыми многодетным семьям или, вероятно, что в данной выборке подобрались именно такие данные.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Действую аналогичным предыдущему заданию образом. Создаю сводную таблицу по категории семейный статус.

In [ ]:
debt_family = data.pivot_table(index='family_status', columns='debt', values='gender', aggfunc='count') # создаю таблицу
debt_family.columns = ['no_debt', 'debt'] # задаю столбцы
debt_family['share_of_debtors'] = debt_family['debt'] / (debt_family['debt'] + debt_family['no_debt']) # считаю долю должников (ещё один столбец)
debt_family['share_of_debtors'] = debt_family['share_of_debtors'].map('{:.1%}'.format) # перевожу долю в проценты
debt_family.sort_values(by='share_of_debtors', ascending=False) # сортирую процент должников по убыванию# Ваш код будет здесь. Вы можете создавать новые ячейки.

                       no_debt  debt share_of_debtors
family_status
Не женат / не замужем     2523   273             9.8%
гражданский брак          3749   385             9.3%
женат / замужем          11334   927             7.6%
в разводе                 1105    84             7.1%
вдовец / вдова             888    63             6.6%

**Вывод:** Наибольший процент должников среди незамужних/неженатых клиентов и клиентов, живущих в гражданском браке. Причина, возможно, в том, что у данных категорий клиентов ниже уровень планирования бюджета, некая свобода в трате денег. Наиментший процент - в категории вдовец/вдова. Возможно, это связано со средствами, доставшимися после смерти супруга/супруги.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Действую аналогичным предыдущему заданию образом. Создаю сводную таблицу по категории уровня дохода.

In [ ]:
debt_income_type = data.pivot_table(index='total_income_category', columns='debt', values='gender', aggfunc='count') # создаю таблицу
debt_income_type.columns = ['no_debt', 'debt'] # задаю столбцы
debt_income_type['share_of_debtors'] = debt_income_type['debt'] / (debt_income_type['debt'] + debt_income_type['no_debt']) # считаю долю должников (ещё один столбец)
debt_income_type['share_of_debtors'] = debt_income_type['share_of_debtors'].map('{:.1%}'.format) # перевожу долю в проценты
debt_income_type.sort_values(by='share_of_debtors', ascending=False) # сортирую процент должников по убыванию# Ваш код будет здесь. Вы можете создавать новые ячейки.

                       no_debt  debt share_of_debtors
total_income_category
E                           20     2             9.1%
C                        14568  1353             8.5%
A                           23     2             8.0%
B                         4660   354             7.1%
D                          328    21             6.0%

**Вывод:** Поскольку выборка в категориях "Е" и "А" (самый низкий и самый высокий доходы) невелика, в рассмотрение данные категории принимать не будем. Вывод делаем на основании категорий "С" , "В" и "D". Из приведённой таблицы видно, что наибольший риск долга в категории "С" - клиенты с доходом от 50001 до 200 тыс. Наименьший - в категориях "B" и "D". Причины? Для категории D, возможно, это более грамотное планирование бюджета.

<div class="alert alert-info">

**Артём:** 💡 Дам тебе совет на будущее, как лучше проводить категоризацию количественных данных. **В этом проекте переделывать ничего не надо, так как заказчик уже предложил свои категории.** Если только как дополнительное исследование.
    
Сейчас самая маленькая категория в 728 раз меньше самой большой. Это может отразиться на результатах исследования. Когда мы делим на категории количественные данные, то лучше их делать примерно одинаковыми. Для этого можно воспользоваться методом `qcut()`. Пример:
    
```py
pd.qcut(df['total_income'], 4)
```
    
```
Name: total_income, Length: 21453, dtype: category
Categories (4, interval[float64]): [(20666.999, 107620.0]  (107620.0, 142594.0]  (142594.0, 195818.0]  (195818.0, 2265604.0]]
```
                                                                                                               
Что внутри:
    
```py
pd.qcut(датафрейм['столбец'], количество_категорий)
```
    
Итого у нас 4 категории:
<ul>
  <li>меньше 107_620</li>
  <li>от 107_620 до 142_594</li>
  <li>от 142_594 до 195_818</li>
  <li>от 195_818</li>
</ul>

Интересно, с таким методом не знаком ещё.

<div class="alert alert-success">

**Артём:** 👍👍 Здорово, что рассказал что-то новое.
  
</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
debt_credit_purpose = data.pivot_table(index='purpose_category', columns='debt', values='gender', aggfunc='count') # создаю таблицу
debt_credit_purpose.columns = ['no_debt', 'debt'] # задаю столбцы
debt_credit_purpose['share_of_debtors'] = debt_credit_purpose['debt'] / (debt_credit_purpose['debt'] + debt_credit_purpose['no_debt']) # считаю долю должников (ещё один столбец)
debt_credit_purpose['share_of_debtors'] = debt_credit_purpose['share_of_debtors'].map('{:.1%}'.format) # перевожу долю в проценты
debt_credit_purpose.sort_values(by='share_of_debtors', ascending=False) # сортирую процент должников по убыванию# Ваш код будет здесь. Вы можете создавать новые ячейки.# Ваш код будет здесь. Вы можете создавать новые ячейки.

                          no_debt  debt share_of_debtors
purpose_category
операции с автомобилем       3879   400             9.3%
получение образования        3619   369             9.3%
проведение свадьбы           2130   183             7.9%
операции с недвижимостью     9971   780             7.3%

**Вывод:** Наибольший процент долга у клиентов, берущих кредит на операцию с авто и получение образования. Касательно автомобиля - возможно связано с высокими затратами на содержание авто, оплату штрафов, ремонт. Касательно образования - возможно, это молодые люди, которые смогут гарантированно погасить кредит, только выйдя на работу после получения образования.
Наименьший процент - на свадьбу и недвижимость. Свадьба - возможно, помогают погасить родственники. Недвижимость - к данной покупке клиенты подходят наиболее ответственно, аккуратно внося платежи.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Наиболее вероятные причины - сокрытие информации, ошибки при вводе данных, повреждение файла.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медиана, в отличие от среднего арифметического (да и любого среднего) устойчива к аномальным значениям, резко выбивающимся из общего строя. Поэтому, при заполнении пропусков в столбцах количественных переменных использование медианного значения оптимально.

### Шаг 4: общий вывод.

Проведенный анализ данных показал, что наибольшие риски по возврату займа характерен для следующих случаев:
1. Наличие детей у клиента;
2. Клиент холост/не замужем, либо живёт в гражданском браке;
3. Уровень дохода клиента лежит в диапазоне 50001 - 200001;
4. Цели кредита - образование и операции с авто.

Наиболее вероятные причины пропусков данных - сокрытие информации, ошибки при вводе данных, повреждение файла.

Медианное значение для количественных переменных - лучшее решение при заполнении пропусков данных.